error-view{
 
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content:center;
        
        
    }
    .msg{
        margin: auto;
        width: 12em;
        height: 8em;
        font-size: 1.5em;
        color: #c2c2c2;
        display: flex;
        justify-content: center;
        align-items:center;
        background-color: #f1f1f1;
    }
}